#ClearFields-Address-bt,
toolbar[iconsize="small"] #ClearFields-Address-bt,
#ClearFields-Search-bt,
toolbar[iconsize="small"] #ClearFields-Search-bt,
#ClearFields-GoogleToolbar-bt,
toolbar[iconsize="small"] #ClearFields-GoogleToolbar-bt,
#ClearFields-Bookmark-Search-bt,
#ClearFields-History-Search-bt,
#ClearFields-YahooToolbar-bt,
#ClearFields-Find-bt {
        list-style-image: url("chrome://clearfields/skin/x.png");
		-moz-image-region: rect(0px, 16px, 16px, 0px);
}

#ClearFields-All-bt {
        list-style-image: url("chrome://clearfields/skin/all.png");
}

toolbar[iconsize="small"] #ClearFields-All-bt {
        list-style-image: url("chrome://clearfields/skin/all-small.png");
}

#ClearFields-All-Text-bt {
        list-style-image: url("chrome://clearfields/skin/text.png");
}
#ClearFields-All-Pass-bt {
        list-style-image: url("chrome://clearfields/skin/pass.png");
}
#ClearFields-All-Check-bt {
        list-style-image: url("chrome://clearfields/skin/check.png");
}
